* {
    /* App color palette */
    -fx-cool-gray-5: #212932;
    -fx-cool-gray-4: #343F4A;
    -fx-cool-gray-3: #414c58;
    -fx-cool-gray-2: #55606c;
    -fx-cool-gray-1: #5d6a79;
    -fx-cool-gray-0: #9CA5B0;
    -fx-white: #E3E6EB;
    -fx-red: #E24440;
    -fx-yellow: #F1B028;
    -fx-green: #3CAF71;
    -fx-blue: #49A2E8;
    -fx-purple: #6040B0;
}

.background {
    -fx-background-color: -fx-cool-gray-5;
    -fx-font-family: "American Typewriter";
    -fx-text-fill: -fx-white;
    -fx-font-size: 16;
}

.menu-bar {
    -fx-background-color: -fx-cool-gray-4;
}

.menu-button:hover, .menu-button:focused, .menu-button:showing, .menu-item:hover {
    -fx-background-color: -fx-blue;
}

.menu-item {
    -fx-background-color: -fx-cool-gray-3;
}

.context-menu {
    -fx-padding: 0;
}

.command-box {
    -fx-padding: 0 8 0 0;
}

.text-field {
    -fx-background-color: -fx-cool-gray-2;
    -fx-text-fill: -fx-white;
    -fx-prompt-text-fill: -fx-cool-gray-0;
    -fx-background-insets: -4 0;
    -fx-background-radius: 0;
}

.result-box {
    -fx-padding: 0 8 8 0;
}

.text-area {
    -fx-background-color: -fx-cool-gray-2;
    -fx-text-fill: -fx-white;
    -fx-wrap-text: true;
    -fx-background-radius: 0;
}

.text-area .content {
    -fx-background-color: -fx-cool-gray-2;
    -fx-background-radius: 0;
    -fx-cursor: pointer;
}

.label {
    -fx-text-fill: -fx-white;
}

.list-view {
    -fx-padding: 0;
    -fx-background-color: -fx-cool-gray-2;
}

.list-cell:filled:even {
    -fx-background-color: -fx-cool-gray-1;
}

.list-cell:filled:odd {
    -fx-background-color: -fx-cool-gray-3;
}

.list-cell:empty {
    -fx-background-color: -fx-cool-gray-2;
}

.corner {
    -fx-background-color: -fx-cool-gray-5;
    -fx-background-insets: 0 -3 -3 0;
}

.separator {
    -fx-padding: -1000;
}

.separator .line{
    -fx-border-width: 0.5;
    -fx-border-color: -fx-cool-gray-0;
}

.split-pane {
    -fx-background-color: -fx-cool-gray-5;
    -fx-padding: 0 8 8;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 4;
    -fx-background-color: -fx-cool-gray-5;
}

.scroll-bar {
    -fx-background-color: -fx-cool-gray-2;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-cool-gray-4;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1;
}

.app-logo {
    -fx-text-fill: -fx-blue;
    -fx-font-size: 40;
}

.content-box {
    -fx-background-color: -fx-cool-gray-2;
}

.content-box-title {
    -fx-background-color: -fx-cool-gray-4;
    -fx-font-size: 20;
    -fx-min-height: 40;
}

.project-list {
    -fx-padding: 0 8 8 0;
}

.project-list #id, #name, #completionStatus {
    -fx-font-size: 20;
}

.project-list #id {
    -fx-fill: -fx-white;
}

.project-list #name, #description, #completionStatus {
    -fx-padding: 0 8 0 0;
}

.projectCardContentBox {
    -fx-padding: 12 8;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-background-color: -fx-purple;
    -fx-padding: 3 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 14;
}

.statLabel {
    -fx-padding: 0 8 0 0;
}
